footer.bg-orange-200.p-3.rounded-xl.mx-auto.mb-5.mt-14(class="w-[280px]")
  p.flex.justify-center.items-center.gap-1 Created by #[a(href="https://github.com/Kartohan" class="flex justify-center items-center gap-1 text-blue-600") Kartohan #[img(src="/images/github.png" class="h-5")]]