doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div
    div.flex.justify-around.px-10.bg-orange-600.h-14.items-center
      a.text-3xl.font-bold.text-white(href="/") MyApp
      nav.flex.gap-10
        a.text-white.font-bold.p-2.rounded-md(href="/brand" class="transition hover:bg-orange-500") Brands
        a.text-white.font-bold.p-2.rounded-md(href="/category" class="transition hover:bg-orange-500") Categories
        a.text-white.font-bold.p-2.rounded-md(href="/item" class="transition hover:bg-orange-500") Items
    block content
